<button
  [type]="finalHtmlType()"
  [class]="baseClass()"
  [disabled]="disabled() || loading()"
  [attr.data-transaction-name]="'Button - ' + (finalLabel() || type() || 'Unknown')"
  (click)="onClick($event)"
>
  @if (finalIcon() && iconPos() === 'left') {
    <i class="pointer-events-none" [class]="finalIcon()"></i>
  }

  @if (finalLabel()) {
    <span class="pointer-events-none">{{ finalLabel() | transloco }}</span>
  } @else {
    <div class="pointer-events-none flex items-center gap-2">
      <ng-content></ng-content>
    </div>
  }

  @if (finalIcon() && iconPos() === 'right') {
    <i class="pointer-events-none" [class]="finalIcon()"></i>
  }
</button>
