<header
  class="bg-white shadow-sm border-b border-gray-200 h-16 flex items-center justify-between px-6"
>
  <h1 class="text-xl font-semibold text-gray-800">Quantm LMS</h1>

  @if (userData()) {
    <div class="flex items-center gap-4">
      <div class="hidden sm:flex flex-col items-end">
        <p class="text-md text-gray-500 font-medium">@{{ userData()?.username }}</p>
      </div>

      <div class="relative">
        <p-avatar
          [image]="profileImageUrl()"
          shape="circle"
          class="cursor-pointer border border-gray-100 shadow-sm hover:ring-2 hover:ring-primary-500/20 transition-all size-10 shrink-0 overflow-hidden"
          (click)="menu.toggle($event)"
        />
        <p-menu
          #menu
          [model]="menuItems"
          [popup]="true"
          appendTo="body"
          styleClass="profile-menu mt-1 min-w-[150px]"
        />
      </div>
    </div>
  }
</header>
