<div class="flex flex-col gap-2 w-full">
  @if (label()) {
    <label [for]="id()" class="text-sm font-medium text-gray-600 select-none">
      {{ label() | transloco }}
      @if (required()) {
        <span class="text-red-500 ml-0.5">*</span>
      }
    </label>
  }

  <span [class.p-input-icon-left]="icon()" class="w-full relative block">
    @if (icon()) {
      <i [class]="icon()" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 z-10"></i>
    }
    @if (type() === 'IDNO') {
      <p-inputMask
        [id]="id()"
        mask="999999-99-9999"
        [ngModel]="displayValue()"
        (ngModelChange)="handleInput($event)"
        (onBlur)="handleBlur()"
        (onFocus)="handleFocus()"
        [placeholder]="(placeholder() | transloco) || '000000-00-0000'"
        [disabled]="displayDisabled()"
        styleClass="w-full rounded-lg! border border-gray-300! focus:ring-indigo-500! focus:border-indigo-500! h-9 transition-all text-sm px-3"
        [class.pl-9]="icon()"
        [class.bg-gray-50]="displayDisabled()"
        [class.ng-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
        [class.ng-dirty]="ngControl?.dirty"
      ></p-inputMask>
    } @else if (type() === 'PHONENO') {
      <p-inputMask
        [id]="id()"
        mask="999-999 9999?9"
        [unmask]="true"
        [autoClear]="false"
        [ngModel]="displayValue()"
        (ngModelChange)="handleInput($event)"
        (onBlur)="handleBlur()"
        (onFocus)="handleFocus()"
        [placeholder]="(placeholder() | transloco) || '01x-xxxx xxxx'"
        [disabled]="displayDisabled()"
        styleClass="w-full rounded-lg! border border-gray-300! focus:ring-indigo-500! focus:border-indigo-500! h-9 transition-all text-sm px-3"
        [class.pl-9]="icon()"
        [class.bg-gray-50]="displayDisabled()"
        [class.ng-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
        [class.ng-dirty]="ngControl?.dirty"
      ></p-inputMask>
    } @else {
      <input
        pInputText
        [id]="id()"
        [type]="type()"
        [placeholder]="placeholder() | transloco"
        [value]="displayValue()"
        [disabled]="displayDisabled()"
        (input)="handleInput($event)"
        (blur)="handleBlur()"
        (focus)="handleFocus()"
        class="w-full rounded-lg! border border-gray-300! focus:ring-indigo-500! focus:border-indigo-500! h-9 transition-all text-sm px-3"
        [class.pl-9]="icon()"
        [class.bg-gray-50]="displayDisabled()"
        [class.ng-invalid]="ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)"
        [class.ng-dirty]="ngControl?.dirty"
      />
    }
  </span>

  @if (ngControl?.invalid && (ngControl?.dirty || ngControl?.touched)) {
    <div class="flex flex-col gap-1">
      @if (ngControl?.errors?.['required']) {
        <small class="text-red-500 text-xs ml-1">This field is required</small>
      }
      @if (ngControl?.errors?.['email']) {
        <small class="text-red-500 text-xs ml-1">Invalid email address</small>
      }
      @if (ngControl?.errors?.['minlength']) {
        <small class="text-red-500 text-xs ml-1">
          Minimum length is {{ ngControl?.errors?.['minlength'].requiredLength }} characters
        </small>
      }
      @if (ngControl?.errors?.['maxlength']) {
        <small class="text-red-500 text-xs ml-1">
          Maximum length is {{ ngControl?.errors?.['maxlength'].requiredLength }} characters
        </small>
      }
      @if (ngControl?.errors?.['invalidIdNo']) {
        <small class="text-red-500 text-xs ml-1">Invalid ID No.</small>
      }
    </div>
  } @else if (hint()) {
    <small [id]="id() + '-help'" class="text-gray-400 text-xs ml-1">
      {{ hint() }}
    </small>
  }
</div>
