<div class="table-container">
  <p-table
    [value]="data()"
    [columns]="columns()"
    [loading]="loading()"
    [rowHover]="rowHover()"
    [paginator]="true"
    [rows]="rows()"
    [totalRecords]="totalRecords()"
    [first]="first()"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginatorDropdownAppendTo]="'body'"
    [tableStyle]="{ 'min-width': '50rem' }"
    [currentPageReportTemplate]="'common.page_report_template' | transloco"
    (onPage)="onPageChange.emit($event)"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.field) {
          <th [style.width]="col.width">
            {{ col.header | transloco }}
          </th>
        }
        @if (actionType() !== 'NONE') {
          <th>{{ 'label.actions' | transloco }}</th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-rowData let-columns="columns">
      <tr (click)="onRowSelect.emit(rowData)">
        @for (col of columns; track col.field) {
          <td>
            @switch (col.type) {
              @case ('badge') {
                <lib-badge
                  [label]="rowData[col.field]"
                  [severity]="rowData[col.field + '_severity'] || 'secondary'"
                />
              }
              @default {
                {{ rowData[col.field] }}
              }
            }
          </td>
        }
        @if (actionType() !== 'NONE') {
          <td>
            <!-- @if (actionType() === 'EDIT' || actionType() === 'EDIT_DELETE') {
              <lib-button (click)="onEdit.emit(rowData)" />
            }
            @if (actionType() === 'DELETE' || actionType() === 'EDIT_DELETE') {
              <lib-button (click)="onDelete.emit(rowData)" />
            } -->
          </td>
        }
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td [attr.colspan]="columns().length" class="text-center p-8">
          <div class="flex flex-col items-center gap-2 text-gray-400">
            <i class="pi pi-inbox text-3xl"></i>
            <span>{{ 'common.no_data_found' | transloco }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
