<div
  class="flex gap-2 w-full"
  [class.flex-col]="effectiveLabelPosition() === 'top'"
  [class.flex-row]="effectiveLabelPosition() === 'left'"
  [class.items-start]="effectiveLabelPosition() === 'left'"
>
  @if (label()) {
    <label
      [for]="id()"
      class="text-sm font-medium text-gray-600 select-none"
      [class.w-1/3]="effectiveLabelPosition() === 'left'"
      [class.pt-2]="effectiveLabelPosition() === 'left'"
    >
      {{ label() | transloco }}
      @if (required()) {
        <span class="text-red-500 ml-0.5">*</span>
      }
    </label>
  }

  <div
    class="flex flex-col gap-2"
    [class.flex-1]="effectiveLabelPosition() === 'left'"
    [class.w-full]="effectiveLabelPosition() === 'top'"
  >
    <p-select
      [id]="id()"
      [options]="options()"
      optionLabel="label"
      optionValue="value"
      [placeholder]="
        placeholder()
          ? (placeholder() | transloco)
          : ('label.placeholders.select' | transloco) + ' ' + (label() | transloco)
      "
      [ngModel]="displayValue()"
      (ngModelChange)="handleValueChange($event)"
      [filter]="filter"
      [disabled]="effectiveDisabled()"
      [showClear]="shouldShowClear()"
      [loading]="loading()"
      (onFocus)="handleFocus()"
      (onBlur)="handleBlur($event)"
      (onShow)="handleShow()"
      (onHide)="handleHide()"
      [appendTo]="'body'"
      [styleClass]="
        isTable()
          ? 'w-full h-8 rounded-lg! border border-gray-300! flex items-center shadow-none! text-sm! px-0!'
          : 'w-full h-9 rounded-lg! border border-gray-300! flex items-center shadow-none! text-sm!'
      "
      panelStyleClass="lib-dropdown-panel"
      [class.bg-gray-100!]="effectiveDisabled()"
      [class.text-gray-500!]="effectiveDisabled()"
      [class.ng-invalid]="showError()"
      [class.border-red-500!]="showError()"
      [class.ng-dirty]="ngControl?.dirty"
    ></p-select>

    @if (showError()) {
      <div class="flex flex-col gap-1">
        @if (errors()?.['required']) {
          <small class="text-red-500 text-xs ml-1">{{ 'validation.required' | transloco }}</small>
        }
      </div>
    } @else if (hint()) {
      <small [id]="id() + '-help'" class="text-gray-400 text-xs ml-1">
        {{ hint() }}
      </small>
    }
  </div>
</div>
